In [ ]:
### SQLAlchemy
- python 에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할수 있습니다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 됩니다.
- 설치 : `pip install sqlalchemy`

In [2]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
# 데이터 베이스 연결
engine = create_engine("mysql://ID:PW@publicIP/test")

In [4]:
#engine은 연결정보를 가지고 있는 객체
engine

Engine(mysql://root:***@3.35.58.4/test)

In [6]:
#테이블 객체 생성을 위한 클래스 작성 

Base  = declarative_base()

class User(Base):
    
    __tablename__ = "user" #테이블 이름
    
    # 컬럼 데이터 작성
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자 함수
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    
    #repr 함수
    def __repr__(self):
        return "<User {},{},{},{}>".format(
            self.name, self.email, self.age,self.rdate)

In [8]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [10]:
# 데이터 베이스에 session 연결
Session = sessionmaker(engine)  #리턴값이 클래스, 연결정보를 가지고 있는 클래스. 
session = Session() #클래스는 대문자(Camel case), 변수는 소문자(Snake case)
session # sessionmaker(engine)()

### 1. Insert

In [34]:
#insert
user = User("jin", "jin@gmail.com",27,"2016-03-21")
user

In [55]:
#insert
user = User("amy", "amy@naver.com",22,"2017-05-22")
user

In [56]:
session.add(user)

In [36]:
# run transaction - 은행 atm기 동시인출 사례 설명
# 여러개의 데이터를 add 해놓으면 commit이 한번의 transaction으로 반영
session.commit()

In [27]:
# many insert
users = [
    User("alice", "alice@gmail.com",25,"2018-02-12"),
    User("andy", "andy@gmail.com",25,"2015-10-21"),
]

In [28]:
session.add_all(users)   #하나 이상의 데이터를 넣을때, 이렇게 하면 users의 데이터가 session 객체에 들어감

In [57]:
session.commit()

In [54]:
# rollback : session에 있는 객체를 초기화
session.rollback()  #git add 되어있는 파일들이 초기화되는 개념

In [21]:
#dir(session)

### 2. select

In [39]:
# all
results = session.query(User).all()  
#User 테이블에 해당되는 테이블 데이터를 전부 가져와서 result로 리턴~ 해줍니다.
results

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [42]:
# filter : ==,!=,>,<,<=,>=,like, in_
results = session.query(User).filter(User.name == "jin")
# 원래 이걸 mysql에서 쓰려면 where 절에 name = "jin" 이라고 써야함
list(results)

In [45]:
# filter : like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [51]:
# filter : in_  _붙여주는 이유는 in이 이미 있는 예약어라서 , 멤버 연산자
results = session.query(User).filter(User.name.in_(['alice','andy'])).order_by(User.age.asc())

list(results)

[<User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>]

In [49]:
# filter : or_
results = session.query(User).filter(
    or_(User.name == "jin", User.age == 33).order_by(User.age.asc())

)
#like는 함수구낭
list(results)

AttributeError: Neither 'BooleanClauseList' object nor 'Comparator' object has an attribute 'order_by'

In [50]:
# order by
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-12 00:00:00>,
 <User andy,andy@gmail.com,25,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [52]:
# count
session.query(User).count()

6

#### 3. Update

In [60]:
data = session.query(User).filter(User.name == "amy").one() #query뒤에는 쿼리역할을 하는 함수가 나와줘야함, SELECT 에 해당하는 거
data

In [59]:
data = session.query(User).filter(User.name == "jin")
data[0]

In [61]:
data.age = 30

In [62]:
session.add(data)

In [63]:
session.commit()

### 4. Delete

In [64]:
# delete row
session.query(User).filter(User.name == 'jin').delete()
#2개가 세션에서 삭제되었다는 뜻

2

In [65]:
session.commit()

In [66]:
# delete table

In [67]:
User.__table__.drop(engine)

#### 5. With Pandas

In [68]:
import seaborn as sns

In [69]:
import pandas as pd

- 데이터 저장하기

In [70]:
iris_df = sns.load_dataset("iris")
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [76]:
engine = create_engine("mysql://root:dss@3.35.58.4/world")

In [77]:
iris_df.to_sql(name="iris",con=engine,if_exists = "replace")
#데이터 프레임이 데이터 베이스로 저장된 것

#### - 데이터 가져오기

In [79]:
QUERY = """
    SELECT *
    FROM city
"""
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020